@charset "utf-8";

body {
    margin: 0;
}

.section {
    text-align: center;
    font-size: 2em;
}

.fp-tableCell {
    display: flex;
    justify-content: center;
    align-items: center;
}