@charset "UTF-8";

body {
    margin: 0;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #817878; /*背景色を指定*/
    top: 0;
    left: 0;
    z-index: -1; /*背景を最背面に表示*/
}
